@import url('https://fonts.googleapis.com/css2?family=Poppins');

::selection{
    color: #353535;
    background-color: darkgray;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
}
.nav-link{
    display: flex;
    align-items: center;
}
.nav-link li{
    margin: 0 20px;
    display: block;

}
.nav-link li a{
    color: whitesmoke;
    padding: 8px 20px;
    font-weight: bold;
    border: thin solid whitesmoke;
    border-radius: 15%;
}
.active{
    font-weight: bold;
    color: #fc036b;
    background-color: #fc036b;
}
.nav-link li a:hover{
    background-color: whitesmoke;;
    color: #fc036b;
    transition: all 2s ease;

}
header{
    width: 100vw;
    height: 100vh;
    background-image: url("./img/header-bg.png");
    background-size: cover;
    background-position: bottom;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-content{
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
}
.header-content h2{
    font-size: 4Vmin;
}
.line{
    width: 20Vmin;
    height: 5px;
    background: #fc036b;
    margin: 10px auto;
    border-radius: 5px;
}
.header-content h1{
    font-size: 7Vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}
.ctn{
   padding: 8px 15px;
    background-color: #fc036b;
    border-radius: 30px;
    color: whitesmoke;
}
.menu-btn{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}
section{
    width: 100vw;
    margin: 30px auto;
}
.title{
    text-align: center;
    font-size: 4Vmin;
    color: rgb(73,73,126);
}
.row{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.row .col{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row .col img{
    max-width: 400px ;
    margin: 20px;
}
.events .row{
    margin-top: 50px;
}
h4{
    font-size: 3vmin;
    color: #484848;
    margin: 20px auto;
}
p{
    color: #7C7C7C;
    padding: 0 40px;
}
.explore{
    width: 100%;
    height: 100vh;
    background-image: url("./img/bg2.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    display: flex;
}
.explore-content{
    width: 60%;
    padding: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: whitesmoke;
}
.explore-content h1{
    font-size: 7Vmin;
    margin: 50px;
}
.explore-content .line{
    margin-bottom: 50px;
}
.explore-content p{
    color: rgb(221,221,221);
}
.explore-content .ctn{
    margin-top: 40px;
}
.tours{
    align-items: center;
    margin: 50px;
}
.tours .image-gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}
.image-gallery img{
    max-width: 300px;
    margin: 10px;
}
.content-col{
    max-width: 60%;
}
.content-col h1{
    font-size: 7Vmin;
    color: #484848;
}
.content-col .line{
    margin-left: -1px;
}
.content-col p{
    padding: 0;
    margin: 30px auto;
}
.content-col .ctn{
    margin-left: -100px;
}
.image-cal{
    width: 60%;
}
footer{
    width: 100%;
    min-height: 50px;
    padding: 10px;
    margin:0;
    background: #484848;
    text-align: center;
}
footer p{
    color: whitesmoke;
    margin: auto;
}
img {
    transition: transform 0.3s ease;
}
img:hover{
    transform: scale(1.1);
}
@media only screen and (max-width: 850px){
    .navbar{
        padding: 0;
    }
    .logo{
        position: absolute;
        top:30px;
        left:30px;
    }
    .nav-link{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background-color: #353535;
        margin-top: -950px ;
        transition: all 0.5s ease;
    }
    .nav-link li{
        margin: 30px auto;
    }
    .mobile-menu{
        margin-top: 0;
        border-radius: 0 0 30% 0 ;
    }
    .menu-btn{
        display: block;
    }
    .row {
        flex-direction: column;
    }
    .row .col{
        margin: 20px auto;
    }
    .col{
        max-width: 90%;
    }
    .row{
        flex-direction: column;
    }
    .col img{
        max-width: 80%;
    }
    .row .col{
        margin: 20px auto;
    }
    .explore-content{
        width: 100%;
    }
    .tours .col{
        width: 100%;
    }
    .image-gallery{
        justify-content: center;
        align-items: center;
    }
    .image-gallery img{
        width: 80%;
    }
    footer{
        padding: 10px;
    }
}
